<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.TbContentMapper" >
    <select id="findTbContentByCategoryId" parameterType="java.lang.Long" resultType="com.taotao.pojo.TbContent">
        SELECT * FROM tbcontent WHERE categoryId = #{categoryId}
    </select>
    <insert id="addTbContent" parameterType="com.taotao.pojo.TbContent">
        INSERT INTO tbcontent (categoryId, title, subTitle, titleDesc, url, pic, pic2, content, created, updated)
        VALUE (#{categoryId},#{title},#{subTitle},#{titleDesc},#{url},#{pic},#{pic2},#{content},#{created},#{updated})
    </insert>
    <delete id="deleteContent">
        DELETE FROM tbcontent WHERE id IN
        <foreach collection="list" separator="," close=")" open="(" index="index" item="id">
            #{id}
        </foreach>
    </delete>
    <update id="updateContent" parameterType="com.taotao.pojo.TbContent">
        UPDATE tbcontent
        SET title=#{title},subTitle=#{subTitle},titleDesc=#{titleDesc},url=#{url},pic=#{pic},pic2=#{pic2},content=#{content},updated=#{updated}
        WHERE id = #{id}
    </update>
</mapper>