<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.TbItemParamItemMapper" >
    <insert id="insertItemParam" parameterType="com.taotao.pojo.TbItemParamItem">
        INSERT INTO tbitemparamitem (itemId, paramData, created, updated)
        VALUE (#{itemId},#{paramData},#{created},#{updated})
    </insert>
    <select id="selectItemParam" parameterType="java.lang.Long" resultType="com.taotao.pojo.TbItemParamItem">
        SELECT * FROM tbitemparamitem WHERE itemId = #{itemId}
    </select>
</mapper>