<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.TbItemParamMapper" >
    <select id="findItemParams" resultType="com.taotao.vo.ItemParamShow">
        SELECT tbitemparam.*,tbitemcat.name itemCatName
        FROM tbitemparam
        LEFT JOIN tbitemcat ON tbitemparam.itemCatId=tbitemcat.id
    </select>
    <select id="selectItemParam" parameterType="java.lang.Long" resultType="com.taotao.pojo.TbItemParam">
        SELECT * FROM tbitemparam WHERE itemCatId = #{itemcatid}
    </select>
    <insert id="insertParam" parameterType="com.taotao.pojo.TbItemParam">
        INSERT INTO tbitemparam (itemCatId, paramData, created, updated)
        VALUE (#{itemCatId},#{paramData},#{created},#{updated})
    </insert>
    <delete id="deleteParam">
        DELETE FROM tbitemparam WHERE id IN
        <foreach collection="list" separator="," close=")" open="(" index="index" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>